RewriteEngine  on

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_URI} !\.php$ [NC]

RewriteCond %{REQUEST_URI} [^/]$

RewriteRule ^prekiu_valdymas$ prekiu_valdymas.php [L]

RewriteRule ^kontaktai$ kontaktai.php [L]

RewriteRule ^Parduotuve$ index.php [L]

RewriteRule ^signup$ signup.php [L]

RewriteRule ^login$ login.php [L]

RewriteRule ^atsiliepimai$ atsiliepimai.php [L]
